<h1>Editing cat rental request</h1>

<%= render "form", cat_rental_request: @cat_rental_request %>

<br>

<div>
  <%= link_to "Show this cat rental request", @cat_rental_request %> |
  <%= link_to "Back to cat rental requests", cat_rental_requests_path %>
</div>
